
@font-face {
    font-family: 'Bree-Serif';
    src: url('https://fonts.googleapis.com/css?family=BreeSerif');
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  #donate-main {
    animation: fadeIn 1s ease-in-out;
  }


  button {
    width: 300px;
    height: 300px;
    overflow:hidden;
    font-size: 20px;
    font-weight: 900;
    color: #000000;
    background: none;
    border: rgb(30, 64, 175) solid;
    border-width: 3px;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    transition: .3s;
    cursor: pointer;
    flex-direction: column;
    /* transform : translate(50%,50%); */
    align-items: center; 
    justify-content: center;
    text-align: center;
    white-space: normal;
    
  }
  
  button:hover {
    box-shadow: 0 0 0 1px #666;
  }
  
  button:before {
    background-color: #222;
  }
  
  button>p{
    /* background-color: red; */
    transform: translate(0%, 50%);
    opacity:1;
    width: 100%;
    max-width: 100%;
    /* padding-top: none; */
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -30px;

  }